   <div class="container">
        <div class="car-list">
            {{#each cars}}
                <div class="car">
                    <img src="{{this.image}}" alt="{{this.alt}}">
                    <h2>{{this.car_name}}</h2>
                    <p>Price: {{this.price}}</p>
                    <button>Reserve Now</button>
                </div>
            {{/each}}
        </div>
    </div>