 <div class="kara-sell"
    ></div>
    <div id="carouselExample" class="carousel slide"> 

  <div class="carousel-inner">

    <div class="carousel-item active">
<!--lamorghini emblem -->
{{!-- this is for lamorghini --}}
      <img src="https://banner2.cleanpng.com/20171216/5f4/lamborghini-logo-png-image-5a34d1dc8e6a94.6597024215134110365833.jpg" class="d-block w-100 Lamorghini" alt="lamorghini logo">
    </div>

    {{!-- this is for ferrari --}}
    <div class="carousel-item">
      <img src="https://www.pngmart.com/files/15/Ferrari-Logo-PNG-Pic.png" class="d-block w-100 Ferrari" alt="ferrari logo">
    </div>

    {{!-- this is for bentley --}}
    <div class="carousel-item">
      <img src="https://st3.depositphotos.com/10313420/15966/i/450/depositphotos_159666200-stock-photo-logo-of-brand-bentley.jpg" class="d-block w-100 bentley" alt="bentley logo">
    </div>
    {{!-- this is for rolls-royce --}}
 <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/b2/83/d5/b283d51142ee787410f202101823bb93.png" class="d-block w-100 rollsroyce" alt="rolls-royce logo">
    </div>

    {{!-- this is for jaguar --}}
 <div class="carousel-item">
      <img src="https://t3.ftcdn.net/jpg/02/99/04/12/360_F_299041269_lKF7f1IvtfsdelJe1YVSylrWUKVQRHq2.jpg" class="d-block w-100 jaguar" alt="jaguar logo">
    </div>

    {{!-- this is for aston martin --}}
 <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20180621/uez/kisspng-aston-martin-vantage-car-dealership-aston-martin-d-5b2b92158b1116.6248176015295821015696.jpg" class="d-block w-100 jaguar" alt="aston martin logo">
    </div>

    {{!-- this is for mercedes Benz --}}
 <div class="carousel-item">
      <img src="https://icon2.cleanpng.com/20180624/kuw/kisspng-mercedes-benz-car-encapsulated-postscript-logo-mercedes-benz-5b2f2f0a823322.2053758215298188905333.jpg" class="d-block w-100 mercedes benz" alt="Mercedes Benz">
    </div>

    {{!-- this is for the bmw 🙄 --}}
 <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20180407/kxq/kisspng-bmw-2-series-car-bmw-m3-logo-bmw-5ac93511903698.3645989315231357615907.jpg" class="d-block w-100f bmw" alt="BMW">
    </div>

    {{!-- this is for Maserati  --}}
 <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20180716/iez/kisspng-maserati-levante-car-maserati-granturismo-lamborgh-masserati-5b4d4ed96d4b64.1318568615317931134477.jpg" class="d-block w-100 maserati" alt="Maseratti">
    </div>

    {{!-- this is for THE TESLA --}}
 <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20190417/eoa/kisspng-logo-font-tesla-inc-typography-car-5cb7a2524c8954.3957115715555385143135.jpg" class="d-block w-100 tesla" alt="TESLA">
    </div>

    {{!-- THIS IS FOR PORSCHE --}}
 <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20171216/9b8/porsche-logo-png-5a355a0ebdfec8.4754316315134459027782.jpg" class="d-block w-100 porsche" alt="Porsche">
    </div>

    {{!-- THIS IS FOR THE AUDI  --}}
    <div class="carousel-item">
      <img src="https://banner2.cleanpng.com/20180417/ape/kisspng-audi-a3-car-clip-art-car-logo-5ad5a161e7b173.007682371523949921949.jpg" class="d-block w-100 porsche" alt="AUDI">

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">


    <span class="carousel-control-next-icon" aria-hidden="true"></span>


    <span class="visually-hidden">Next</span>
  </button>

</div>