/* Fleet Page */
* {
    font-family: "Rajdani";
}

body {
    background-color: black;
    color: rgb(192, 192, 192);
}

.car {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    background-color: #000000;
    border: solid gold 2px;
    padding: 20px;
    box-sizing: border-box;

}

.car img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.car h2 {
    color: gold;
    font-size: 1.5em;
    margin: 0;
}

.car p {
    color: white;
    font-size: 1em;
}

.car button {
    background-color: gold;
    color: black;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.car button:hover {
    background-color: black;
    color: gold;
}

.row {
    text-align: center;
}

.row h1 {
    color:  rgb(192, 192, 192);
}

/* homepage */
.homepage-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-png {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.title-png h1 {
    color: rgb(192, 192, 192);
}

.title-png a {
    text-decoration: none;
    color: inherit;
}

.title-png a:hover {
    cursor: pointer;
}

.title-png img {
    height: 30px;
    width: 30px;
}

.nav-links {
   display: flex;
   gap: 1em;
   margin-right: 5%;
}

.nav-links a {
    text-decoration: none;
    color: silver;
    font-size: 1.2em;
    font-weight: 200;
}

.nav-links a:hover {
    color: white;
    transition: 500ms;
}


.homepage-top {
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(/images/Lamborghini-Huracan-Performante.jpg) no-repeat;
    background-size: 100% 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20%;
    margin-top: 2%;
    margin-left: 3%;
    padding-left: 2em;
    border-radius: 1em;
    backdrop-filter: blur(10px);
}

.homepage-top h1 {
    font-size: 4em;
    color: white;
    opacity: 90%;
}


.modal-title {
    color: black;
}

.login-form{
    color: black;
}

/* carousel section */


.makes {
    background: url(/images/track-img.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-top: 5px solid black;
}

.carousel-inner {
    width: 100%
}

.carousel-inner img {
    height: 400px;
    width: 400px;
}


/* footer section */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-top: 5px solid grey;
    gap: 10em;
}

footer img {
    translate: 75px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    text-decoration: underline;
}