body {
    background-color: black;
    color: rgb(192, 192, 192);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-png {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.title-png h1:hover {
    cursor: pointer;
}

.title-png img {
    height: 30px;
    width: 30px;
}

.title-png img:hover {
    cursor: pointer;
}

.nav-links {
   display: flex;
   gap: 1em;
   margin-right: 5%;
}

.nav-links a {
    text-decoration: none;
    color: silver;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}

.nav-links a:hover {
    color: white;
    transition: 500ms;
}


.homepage-main {
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(./assets/images/Lamborghini-Huracan-Performante.jpg) no-repeat;
    background-size: 100% 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20%;
    margin-top: 2%;
    margin-left: 3%;
    padding-left: 2em;
    border-radius: 1em;
    backdrop-filter: blur(10px);
}

.homepage-main h1 {
    font-size: 4em;
    color: white;
    opacity: 90%;
}


.modal-title {
    color: black;
}

.login-form{
    color: black;
}