<div calss="homepage-main">
  <div class="homepage-top">
    <div class="welcome">
      <h1>Welcome to Summit Luxury Experiences.</h1>
    </div>
  </div>
  <div class="makes">
    <div id="carouselExample" class="carousel slide">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <!--lamorghini emblem -->
          {{!-- this is for lamorghini --}}
          <img
            src="/images/carouselImg/Lamborghini-Emblem.png"
            class="d-block w-100 Lamorghini" alt="lamorghini logo">
        </div>

        {{!-- this is for ferrari --}}
        <div class="carousel-item">
          <img src="/images/carouselImg/Ferrari-Logo-PNG-Pic.png" class="d-block w-100 Ferrari"
            alt="ferrari logo">
        </div>

        {{!-- this is for bentley --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/bentley_PNG20.png"
            class="d-block w-100 bentley" alt="bentley logo">
        </div>
        {{!-- this is for rolls-royce --}} 
        <div class="carousel-item">
          <img src="/images/carouselImg/rollsRoyce.png"
            class="d-block w-100 rollsroyce" alt="rolls-royce logo">
        </div>

        {{!-- this is for jaguar --}} 
        <div class="carousel-item">
          <img src="/images/carouselImg/JAGUAR.png"
            class="d-block w-100 jaguar" alt="jaguar logo">
        </div>

        {{!-- this is for aston martin --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/ASS MARTIN.png"
            class="d-block w-100 jaguar" alt="aston martin logo">
        </div>

        {{!-- this is for mercedes Benz --}} 
        <div class="carousel-item">
          <img
            src="/images/carouselImg/MERCEDES.png"
            class="d-block w-100 mercedes benz" alt="Mercedes Benz">
        </div>

        {{!-- this is for the bmw 🙄 --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/BMW.png"
            class="d-block w-100f bmw" alt="BMW">
        </div>

        {{!-- this is for Maserati --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/MASSERATTI.png"
            class="d-block w-100 maserati" alt="Maseratti">
        </div>

        {{!-- this is for THE TESLA --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/tesla.png"
            class="d-block w-100 tesla" alt="TESLA">
        </div>

        {{!-- THIS IS FOR PORSCHE --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/PORCHE.png"
            class="d-block w-100 porsche" alt="Porsche">
        </div>

        {{!-- THIS IS FOR THE AUDI --}}
        <div class="carousel-item">
          <img
            src="/images/carouselImg/AUDI.png"
            class="d-block w-100 porsche" alt="AUDI">

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">


          <span class="carousel-control-next-icon" aria-hidden="true"></span>


          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</div>