<body>
    <div class="user-info">

    </div>
    <div class="user-rentals">
        <div class="previous-rentals">

        </div>
        <div class="upcoming rentals">
            
        </div>
    </div>
</body>