<div class="profile-container">
    <h2 class="profile-h2">{{user.name}}'s Profile</h2>
    <p class="profile-p">Email: {{user.email}}</p>
    <p class="profile-p">Username: {{user.name}}</p>
    <p class="profile-cars">Rentals: {{user.car_id}}</p>
</div>